.card {
  width: 30%;
  margin: 1.3rem;
  display: inline-block;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
}

.cardText {
  height: 3.1rem;
  color: #a5a5a5;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 14px;
  display: -webkit-box;  
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;

}

.cardTitle {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #f0972a;
  font-size: 20px;
}

.cardButton {
  background-color: #96bb36;
  border-radius: 5px;
  opacity: 1;
  border: none;
  float: right;
  margin-bottom: 0.7rem;
}

.cardFooter {
  display: flex;
  background-color: white;
  border: none;
  color: #626262;
  font-size: 0.8rem;
  padding: 0 1rem 0 1rem;
}
.cardFooterChild {
  padding: 1px;
}

.material-icons {
  font-size: 18px;
}

#asd1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
