* {
    /* Colors: */
    --lightgrey: #d8d8d8;
    --white: #ffffff;
    --softwhite: #f8f7f2;
    --orange: #f0972a;
    --midgrey: #a5a5a5;
    --darkgrey: #626262;
    --green: #96bb36;
  
    /* Font/text values */
    --unnamed-font-family-roboto: Roboto;
    --unnamed-font-family-roboto-slab: Roboto Slab;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-36: 36px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-19: 19px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-26: 26px;
    --unnamed-line-spacing-48: 48px;
    --unnamed-text-transform-uppercase: uppercase;
  }
  
  /* Character Styles */
  .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--midgrey);
    text-transform: var(--unnamed-text-transform-uppercase);
  }
  .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-roboto-slab);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--midgrey);
  }
  .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-19);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--midgrey);
  }
  .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-roboto-slab);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--orange);
  }
  .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-roboto-slab);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-48);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--green);
  }