@import "global.css";

.loginForm {
  height: 100%;

  padding: 0;
  margin-left: 20%;
  margin-right: 30%;
  /* margin-top: 10%; */
  border-radius: px;
  
}

.loginForm form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.registerForm {
  margin-left: 10%;
  margin-right: 10%;
  border-radius: px;
  padding: 1rem;
}
.registerForm,
h3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    46px/60px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--darkgrey);
  text-align: left;
  font: normal normal bold 46px/60px Roboto Slab;
  letter-spacing: 0px;
  color: #626262;
}
.registerForm,
p {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-20) /
    var(--unnamed-line-spacing-26) var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--midgrey);
  text-align: left;
  font: normal normal normal 20px/26px Roboto Slab;
  letter-spacing: 0px;
  color: #a5a5a5;
  opacity: 1;
}

#orangeTitle {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    46px/60px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
  text-align: left;
  font: normal normal bold 46px/60px Roboto Slab;
  letter-spacing: 0px;
  color: #f0972a;
  margin-bottom: 1.87rem;
}

#blackTitle {
 
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
      46px/60px var(--unnamed-font-family-roboto-slab);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--orange);
    text-align: left;
    font: normal normal bold 46px/60px Roboto Slab;
    letter-spacing: 0px;
    color: #626262;
  
}

.greenButton {
  /* top: 40.56rem;
  left: 53.25rem;
  width: 7.688rem;
  height: 2.5rem; */
  padding: 10px 30px;
  background: var(--green) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal 900 16px/21px
    var(--unnamed-font-family-roboto);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

.greenButton:hover {
  color: #fff;
  background-color: #96bb36;
}

.mb-3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/21px var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--orange);
  text-align: left;
  font: normal normal bold 16px/21px Roboto Slab;
  letter-spacing: 0px;
  color: #f0972a;
  opacity: 1;
}

#formGroupEmail::placeholder,
#formGroupPassword::placeholder {
  color: #a5a5a5;
}

#formGroupEmail,
#formGroupPassword,
#formGroupFirstName,
#formGroupLastName {
  border: 1px solid var(--midgrey);
  background: #f0efea 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  border: 1px solid #a5a5a5;
}