a:link,
a:visited {
    text-decoration: none;
    color: var(--midgrey);
}

li {
    list-style: none;
    text-transform: uppercase;
    margin-right: 15px;
}

.logo-box {
    position: relative;
}

.logo {
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    font-size: 70px;
    color: var(--darkgrey);
}

.logo-span {
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    font-size: 17px;
    color: var(--orange);
    position: absolute;
    top: 75%;
    left: 18%;
}


