@import "global.css";

.routeHeader {
  display: flex;
  justify-content: center;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-36) / var(--unnamed-line-spacing-48)
    var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--green);
  text-align: left;
  font: normal normal bold 36px/48px Roboto Slab;
  letter-spacing: 0px;
  color: #96bb36;
  opacity: 1;
}

.line-container hr {
  border: 1px solid #D8D8D8;
  opacity: 1;
  width: 100%;
  width: 100%;
  margin-bottom: 1.25rem;

    /* margin-top: 1.0rem; */
}

.title-header {
    width: 100%;
    display: flex;
    margin-bottom: 5rem;
    margin-top: 5rem;

}

.line-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.31rem;
}



.paragraph-title {
  display: flex;
  align-items: flex-end;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 0.43rem;
}

.paragraph-title p {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-roboto-slab);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--green);
  text-align: left;
  font: normal normal bold 36px/48px Roboto Slab;
  letter-spacing: 0px;
  color: #96BB36;
  opacity: 1;
}
